body { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 1124px; }
.root { width: 992px; height: 1124px; overflow: visible; }
#wb_element_instance42 { left: 570px; top: 82px; min-width: 420px; width: 420px; min-height: 40px; height: 40px; display: block; z-index: 164; }
#wb_element_instance42 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance42, #wb_element_instance42 ul { text-align: right; }
#wb_element_instance42 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance42 li { margin: 0px 0px 0px 20px; }
#wb_element_instance42 li a { text-transform: uppercase; border: 0px none #000000; padding: 10px 20px 10px 0px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none no-repeat scroll center top; }
#wb_element_instance42 li:hover > a, #wb_element_instance42 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: underline; color: #ffffff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance42 li.active > a { border: 2px none #ba37ba; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: underline; color: #b7a74e; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance43 { left: 10px; top: 50px; min-width: 90px; width: 90px; min-height: 100px; height: 100px; display: block; z-index: 159; overflow: hidden; }
#wb_element_instance43 img { width: 100px; height: 100px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance44 { left: 100px; top: 74px; min-width: 390px; width: 390px; min-height: 55px; height: 55px; display: block; z-index: 160; }
#wb_element_instance45 { left: 0px; top: 37px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; z-index: 167; }
#wb_element_instance46 { left: 0px; top: 20px; display: block; z-index: 9000; }
#wb_element_instance47 { left: 0px; top: 81px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 1124px; }
	.root { width: 992px; height: 1124px; overflow: visible; }
	#wb_element_instance42 { left: 570px; top: 82px; min-width: 420px; width: 420px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance43 { left: 10px; top: 50px; min-width: 90px; width: 90px; min-height: 100px; height: 100px; display: block; overflow: hidden; }
	#wb_element_instance43 img { width: 100px; height: 100px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance44 { left: 100px; top: 74px; min-width: 390px; width: 390px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance45 { left: 0px; top: 37px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 1124px; }
	.root { width: 992px; height: 1124px; overflow: visible; }
	#wb_element_instance42 { left: 570px; top: 82px; min-width: 420px; width: 420px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance43 { left: 10px; top: 50px; min-width: 90px; width: 90px; min-height: 100px; height: 100px; display: block; overflow: hidden; }
	#wb_element_instance43 img { width: 100px; height: 100px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance44 { left: 100px; top: 74px; min-width: 390px; width: 390px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance45 { left: 0px; top: 37px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 1124px; }
	.root { width: 992px; height: 1124px; overflow: visible; }
	#wb_element_instance42 { left: 570px; top: 82px; min-width: 420px; width: 420px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance43 { left: 10px; top: 50px; min-width: 90px; width: 90px; min-height: 100px; height: 100px; display: block; overflow: hidden; }
	#wb_element_instance43 img { width: 100px; height: 100px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance44 { left: 100px; top: 74px; min-width: 390px; width: 390px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance45 { left: 0px; top: 37px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; }
}
